<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>登 录</title>
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->

	  <div id="login-page">
	  	<div class="container">
	  	
		      <form class="form-login" action="/clogin" method="post">
		        <h2 class="form-login-heading">登 录</h2>
		        <div class="login-wrap">
					<input name="loginid" type="text" class="form-control" placeholder=" 账 号 " autofocus required>
					<span style="color: red;" th:text="${checkname}"></span>
		            <br>
		            <input name="password" type="password" class="form-control" placeholder=" 密 码 " required>
					<span style="color: red;" th:text="${checkpwd}"></span>
					<span style="color: red;" th:text="${msg}"></span>
					<label class="checkbox">
		                <span class="pull-right">
		                    <a data-toggle="modal" href="/reset">找回密码</a>
		                </span>
		            </label>
		            <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> 登 录 </button>
		            <hr>
		            <div class="registration">
		                没有帐号?<a href="/register">立即注册</a>
		            </div>
		
		        </div>
		      </form>	  	
	  	
	  	</div>
	  </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

  </body>
</html>
